.account-container {
  display: flex;
  height: 100vh;
}

.account-sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ccc;
  position: fixed; /* Sidebar fija */
  height: 100%; /* Ocupa toda la altura */
  overflow-y: auto; /* Permitir scroll si es necesario */

  .sidebar-menu {
    list-style: none;
    padding: 0;

    .menu-item {
      padding: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;

      i {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: inherit;
        width: 100%; /* Ocupa todo el ancho para mejorar la experiencia de clic */
        display: flex;
        align-items: center;
      }

      &.active,
      &:hover {
        background-color: #ddd;
        font-weight: bold;
        border-radius: 4px;
      }
    }

    .sign-out {
      margin-top: 20px;
      color: red;
      font-weight: bold;
    }

    .delete-account {
      margin-top: 20px;
      color: #d9534f; /* Color para Delete Account */
      font-weight: bold;

      &:hover {
        color: #c9302c; /* Color más oscuro al pasar el cursor */
      }
    }
  }
}

.account-content {
  margin-left: 250px; /* Margen izquierdo igual al ancho de la sidebar */
  padding: 40px;
  background-color: #fff;
  width: calc(100% - 250px); /* Ocupa el ancho restante */
  overflow-y: auto; /* Permitir scroll si es necesario */
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.btn-close {
  background-color: white;
  width: 50px;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-close:hover {
  background-color: blue;
  color: white;
}

