.account-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 20px;
  background-color: #f9f9f9;

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .settings-list {
    list-style: none;
    padding: 0;

    .settings-item {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
