.addresses-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  