.custom-dropdown-menu {
  background-color: #333 !important;
  margin-right: -40px !important;
  border: 1px solid #444;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  z-index: 1000;
  width: 450px; 
  padding: 10px;
  box-sizing: border-box;
  display: none; 
  top: 100%; 
  transform: translateY(10px); 

  &.dropdown-active {
    display: block;
  }

  .dropdown-user-info {
    padding: 4px 6px !important;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #555;
    margin-bottom: 8px;
  }

  li {
    padding: 4px 8px !important;
    color: #fff;
    font-size: 14px;
    display: block;
    cursor: pointer;

    button {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: blue !important;
      }
    }
  }

  .dropdown-divider {
    border: none;
    border-top: 1px solid #555;
    margin: 8px 0;
  }
}

.dropdown-user-button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1;
}

.dropdown-user-button:hover {
  background: transparent !important;
  color: rgb(27, 136, 219);
  text-decoration: underline;
}

.login-button {
  background: transparent;
  color: #fff;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  line-height: 1 !important;

  &:hover {
    background: transparent;
  }
}

.dropdown-account-button,
.dropdown-logout-button {
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    color: blue !important;
  }
}
