// Hotel Search Page Container
.hotel-search-page-container {
  display: flex;
  width: 100%;
}

// Sidebar
.sidebar {
  width: 400px; // Fixed width for the sidebar
  background-color: #f8f9fa; // Background color to differentiate
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Adds shadow for depth
  padding-left: 3em; // Maintain consistent spacing from the structure
  padding-top: 5em;
}

// Main Content
.main-content {
  flex: 1; // Takes up the remaining space to the right of the sidebar
  background-color: #f8f9fa;
  padding: 2em 3em 1em 1em;
}

// Sort Options Container
.sort-options-container {
  display: flex;
  justify-content: flex-end; // Aligns sort options to the right
  align-items: center;
  height: 2em;

  label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1rem;
  }

  .sort-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
}

// Results Container
.results-container {
  width: 100%;
  margin-top: 20px;
}
