// Form Container
.form-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 90%; // Change to a more flexible width
  max-width: 500px; // Set a maximum for larger screens

  form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

// Form Group
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  i,
  svg,
  img { // Adjust this selector as needed
    transform: scale(2); // Scale icons to double their size
    margin-right: 0.5rem; // Space between the icon and the text
  }
}

label {
  margin-right: 0.5rem;
}

// Input Styles
input {
  &[type="text"],
  &[type="date"],
  &[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
  }

  &[type="radio"] {
    margin-right: 0.5rem;
  }

  &[type="number"] {
    width: auto;
    max-width: 6ch;
  }
}

// Button Styles (This component is affecting all buttons)
button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;

  &:hover {
    background-color: #0056b3;
  }
}

// Search Button Specific Styles
.search-button {
  display: block;
  margin: 0 auto; // Center the button
}

// Error Text Styles
.error-text {
  color: red;
  border-radius: 4px;
  font-size: 12px;
  width: 200px;
  margin-left: 10px;
  font-weight: bold;
}

// Date Group Styles
.date-group {
  display: flex;
  gap: 0.5rem;
}

// Radio Group Styles
.radio-group {
  display: flex;
  gap: 1rem;
}
