$header-bg-color: #333;
$header-text-color: #fff; // White color
$header-height: 3em; // The height should be equal to the top padding of the main because it is overlapped
$header-padding-left-right: 3em; // Makes everything have the same separation from left to right
$font-size-h1: 24px; // Set the default font size for the h1
$font-size-nav-link: 1em; // Set the font size for nav links
$bell-icon-size: 1.5em;
$font-weight-normal: 400; // Set a consistent font weight

// Header Styles
header {
  background: $header-bg-color;
  color: $header-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center; // Ensure vertical centering of child elements
  position: fixed;
  top: 0;
  z-index: 1000;
  height: $header-height;
  width: 100%;
  padding-left: $header-padding-left-right;

  .header-left {
    a {
      color: $header-text-color; // Apply the same white color to the link
      text-decoration: none; // Remove the blue underline from the link
      font-weight: $font-weight-normal; // Ensure the font weight is consistent

      h1 {
        color: inherit; // Ensure h1 inherits the color from the link
        margin: 0; // Reset margin to avoid unnecessary spacing
        font-size: $font-size-h1; // Use the variable for h1 font size
        font-weight: inherit; // Inherit font weight from the link
      }

      &:hover {
        text-decoration: none; // Prevent underline on hover
      }
    }
  }

  .header-right {
    nav {
      ul {
        display: flex;
        list-style: none;
        margin: 0; // Reset margin to avoid pushing the content up or down
        padding: 0; // Ensure no padding is affecting the vertical alignment
        align-items: center; // Vertically center the nav items within the ul
        margin-right: $header-padding-left-right;

        li {
          padding-left: 20px;

          a {
            color: $header-text-color; // White color for nav links
            text-decoration: none; // Remove the blue underline from the nav links
            font-size: $font-size-nav-link;
            font-weight: $font-weight-normal; // Ensure font weight is consistent

            &:hover {
              text-decoration: underline;
            }

            .fa-bell {
              font-size: $bell-icon-size;
              color: inherit;
            }
          }
        }
      }
    }
  }
}
