$slider-height: 70vh; // set the height for the central image, we can change it later to a slider
$background-image: 'images/image1.jpg';

.slider-section {
  width: 100%;
  height: $slider-height;
  background-image: url($background-image);
  background-size: cover;
  background-position: center;
  position: relative;
}

